body{
    margin-top: 150px;
}
h2{
    
    color: white;
    text-align: center;
}
.contact-container {
    padding: 20px;
    color: white;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .column {
    flex: 1;
    margin: 10px;
    text-align: center;
  }
  
  .contact-image {
    width: 50px;
   border-radius: 50px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 20px;
  }
  