.welcome-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 105vh;
    
    background: rgb(75,45,3);
    background: radial-gradient(circle, rgba(75,45,3,1) 0%, rgba(3,2,4,1) 100%, rgba(221,144,1,1) 100%);
  }
  
  .slider-container {
    width: 80%;
    max-width: 600px;
    margin-bottom: 20px;
    margin-top: 120px;

    background-color: #0b0b0b;
  }
  
  .welcome-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f0720a;
    color: rgb(14, 14, 14);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .welcome-button:hover {
    background-color: #995104;
  }
  